*                                      @nrjpoddar @vkkhare

android/**                             @NimbleEdge/assistant-android-maintainers
ios/**                                 @NimbleEdge/assistant-ios-maintainers
