<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBkqI6xhepfIJSDP-gshFJgTL1JkN2HM8</string>
	<key>GCM_SENDER_ID</key>
	<string>699282062446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.nimbleedge.assistant</string>
	<key>PROJECT_ID</key>
	<string>ne-chatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ne-chatapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:699282062446:ios:9b73dca41ddf3a71bb3a7f</string>
</dict>
</plist>
